.App {
  background-color: #a0c1b8;
  max-width: 100%;
  display: block;
  color: #f4e8c1;
}

.App .search-header {
  font-family: "Open Sans", sans-serif;
  display: block;
  padding: 20px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.App .search-form {
  width: 100%;
}

.App .search-bar {
  margin-bottom: 10px;
  border-radius: 2px;
  width: 100%;
  height: 50px;
}

.App .btn {
  background-color: #726a95;
  color: #bdbdbd;
  margin: 10px 0;
}

.App .card-columns {
  display: inline-block;
}

/* CSS FOR RECIPE.JS ... recipe "cards" */

.card {
  background-color: #351f39;
  border-radius: 10px;
  padding: 1px;
  margin-top: 10px;
}

.Recipe h2 {
  font-family: "Grand Hotel", cursive;
  font-size: 50px;
}

.Recipe h3 {
  font-family: "Mouse Memoirs", sans-serif;
}

.Recipe .ingredients-list {
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
}

.Recipe .ingredient {
  list-style-type: circle;
}

.Recipe .food-allergies {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

/* FOOTER FOOTER FOOTER FOOTER */

.Footer {
  font-family: "Open Sans", sans-serif;
  display: block;
  padding: 20px;
  border-radius: 10px;
}

.Footer .App-logo {
  height: 5vmin;
  pointer-events: none;
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Footer .App-link {
  text-decoration: none;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}