    .Recipe {
        border: 2px solid #ffffff;
        background-color: #5d414dda;
        border-radius: 10px;
        padding: 50px;
    }

    .Recipe h2 {
        font-family: 'Grand Hotel', cursive;
        font-size: 50px;
    }

    .Recipe h3 {
        font-family: 'Mouse Memoirs', sans-serif;
    }

    .Recipe .recipe-img {
        display: flex;
        border-radius: 10px;
        width: 100%;
    }

    .Recipe .ingredients-list {
        padding-top: 20px;
        font-family: 'Open Sans', sans-serif;
    }

    .Recipe .ingredient {
        list-style-type: circle;
    }